.category-button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.category-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.category-button:hover {
    background-color: #eee;
}

.category-button.active:hover {
    background-color: #004690;
}